/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #17141b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.parent .child {
  display: none; /* Hide child divs by default */
}

.parent:hover .child {
  display: block; /* Show child divs when the parent is hovered */
}

.sidebar {
  z-index: 1000 !important;
}

.sidebarTop {
  transition: background-color 0.2s;
}

.borderFuscia {
  border: 1px solid #c026d3 !important;
}

.borderLight {
  border: 1px solid #312e37 !important;
}

.borderGreen {
  border: 1px solid #22c255 !important;
}

.text-color {
  color: white;
  padding: 1rem;
}
@media print {
  .text-color {
    color: black !important;
  }
}

@media screen and (max-width: 1026px) {
  .headText {
    margin-top: 2.5rem !important;
    margin-left: 1rem;
    margin-bottom: 0rem !important;
  }
  .nav-item {
    margin-top: 1.25rem !important;
  }
}
